@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark1 */
.text-light{
    color: #131313;
    font-weight: bold;
}
/* dark2 */
.text-gray{
    color: #424242;
}
/* dark3 */
.text-light-gray{
    color: #727272;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color:#FF900E ;
    color: #fff;
    font-weight:600;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    border: none;
}

.dign-2{
    color: #FF900E;
    font-weight: bold;
}
/* header style */

/* navbar style */

.brand{
    font-weight: 700;
    font-size: 2.2rem;
}
.item{
    list-style: none;
    margin-right: 30px;
}

.navbar-link{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}


.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-title{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.tile{
    
    font-size: 3.8rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}

.banner-image img{
    width: 100%;
}
/* feature related style */
.teams{
    align-items: center;
}
.team-iamge-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.teams-feature{
    margin-left: 130px;
    max-width: 568px;
    
}
.feature-title {
    font-weight: 500;
    font-size: 2.3rem;
}
.feature-description{
    font-size: 1rem;
    line-height: 1.4rem;
}




/* responsiv media query */

@media screen and (max-width:576px) {
    .display-flex{
        flex-direction: column;
    }
    .team-iamge-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-feature{
        margin: 0;
        padding: 20px;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        display: block;
        grid-template-columns: repeat(2, 1fr);
    }
    .teams-feature{
        margin: 30px auto;
        padding: 30px;
        
    }
    .team-iamge-container{
        padding: 20px;
    }
}