@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark1 */
.text-light{
    color: #131313;
    font-weight: bold;
}
/* dark2 */
.text-gray{
    color: #424242;
}
/* dark3 */
.text-light-gray{
    color: #727272;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color:#FF900E ;
    color: #fff;
    font-weight:600;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    border: none;
}

.dign-2{
    color: #FF900E;
    font-weight: bold;
}
.point-number{
    font-weight: 700;
    font-size: 2.4rem;
    margin: 10px;
}

.some-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 10px;
    /* padding: 10px; */
}

.some-description{
    max-width: 520px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 10px;
}
#enjoy-sidcrip{
    padding: 0;
}

/* header style */

/* navbar style */

.brand{
    font-weight: 700;
    font-size: 2.2rem;
}
.item{
    list-style: none;
    margin-right: 30px;
}

.navbar-link{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}


.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-title{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.tile{
    
    font-size: 3.8rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}

.banner-image img{
    width: 100%;
}
/* enjoy related style */

.enjoy-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
    justify-items: center;
}
.enjo-left{
    max-width: 584px;
}
.enjoy-right{
    max-width: 800px;
}
#enjoy-title {
    max-width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 26px;
}
.service-item{
    max-width: 584px;
    /* border: 1px solid saddlebrown; */
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 8px 0 rgb(231, 224, 216);
}
.service-title{
    font-weight: 700;
    font-size: 1.1rem;
}
#btn-year{
    padding: 35px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    margin-top: -80px;
    margin-left: -70px;
}
.experi{
    font-weight: bold;
    font-size: 3.6rem;
    color: #ffff;
    margin-bottom: 10px;
}
.no-experi{
    font-weight: 500;
    font-size: 1.1rem;
    color: #ffff;
}

/* feature related style */
.teams{
    align-items: center;
}
.team-iamge-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.teams-feature{
    margin-left: 130px;
    max-width: 568px;
    
}
.feature-title {
    font-weight: 500;
    font-size: 2.3rem;
}
.feature-description, .point-description{
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 5px;
}

/* some fact */


.point-table{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
    
}

.point{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* our sponsor */
 .sponsor-info{
    max-width: 542px;
    margin: auto;
    text-align: center;
 }

 .sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 10px;
 }
 .sponsor-company img{
    filter: grayscale(100%);
 }


/* responsiv media query */

@media screen and (max-width:576px) {
    .display-flex{
        flex-direction: column;
    }
    .team-iamge-container{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .enjoy-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;

    }

    .teams-feature{
        margin: auto;
        padding: 20px;
        
    }
    .point-table{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
          
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        display: block;
        grid-template-columns: repeat(2, 1fr);
        
    }
    .point-table{
        
    }
    .teams-feature{
        margin: 0 20px;
        padding: 30px;
        
        
    }
    .team-iamge-container{
        /* padding: 20px; */
        justify-items: center;
    }
    .point-table{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
          
    }
    .sponsor-company{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        
        
    }
}