@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark1 */
.text-light{
    color: #131313;
}
/* dark2 */
.text-gray{
    color: #424242;
}
/* dark3 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color:#FF900E ;
    color: #fff;
    font-weight:600;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    border: none;
}
/* header style */

/* navbar style */

.brand{
    font-weight: 700;
    font-size: 2.2rem;
}
.item{
    list-style: none;
    margin-right: 30px;
}

.navbar-link{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}


.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-title{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.tile{
    font-weight: bold;
    font-size: 3.8rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}

.banner-image img{
    width: 100%;
}



/* responsiv media query */

@media screen and (max-width:576px) {
    .display-flex{
        flex-direction: column;
    }
}